* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  padding: 0x;
  font-family: 'Work Sans', sans-serif;
  font-size: 112.5%;
  text-align: center;
  line-height: 1.5;
}

@media (min-width: 700px) {
  body {
    font-size: 1.2em;
  }
}

a {
  color: rgb(0, 94, 47);
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 94, 47);
}
.intro,
.welcome,
.devlinks {
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .line {
    display: none;
  }
  .intro {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .welcome {
    flex-direction: row;
    align-items: center;
  }
  .welcome p {
    margin-left: 10px;
  }
  .devlinks {
    flex-direction: row;
    justify-content: space-around;
  }

  .devlinks figure {
    margin: 7px;
  }
}

.intro h1 {
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1;
  margin: 20px;
  margin-top: 60px;
  color: rgba(0, 0, 0, 0.85);
  white-space: nowrap;
}

.navlinks {
  margin: 20px;
}
.navlinks a {
  font-size: 1.3em;
  padding: 8px;
  margin: 4px;
  white-space: nowrap;
  border: none;
}

.navlinks a:hover {
  background-color: rgb(0, 94, 47);
  color: white;
}

.line {
  border: none;
  border-bottom: 2px solid rgb(0, 94, 47, 0.7);
  width: 100px;
  height: 0;
}

h2 {
  margin-top: 10px;
}

section {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 6px 6px 12px -5px rgba(0, 0, 0, 0.44);
}

section:hover {
  background-color: rgba(0, 94, 47, 0.15);
}

.welcome p {
  font-size: 1.5em;
}

.skills ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills li {
  display: block;
  padding: 4px 10px;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1.2em;
  line-height: 1;
  white-space: nowrap;
}

@media (min-width: 700px) {
  .skills li {
    font-size: 1.6em;
  }
}

.contact ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: space-around;
}

.contact li {
  display: block;
  margin-right: 10px;
}

.devlinks a {
  border: none;
}

.devlinks figcaption {
  display: inline;
  border-bottom: 2px solid rgb(0, 94, 47);
}

.devlinks img {
  width: 170px;
  opacity: 0.6;
}

@media (min-width: 700px) {
  .devlinks img {
    width: 120px;
  }
}

.devlinks img:hover {
  opacity: 1;
}

.cv table {
  text-align: left;
  margin: auto auto;
}

.cv table tr {
  border-bottom: 1px solid black;
}

.foto {
  width: 100%;
  clip-path: circle();
}

@media (min-width: 1200px) {
  .intro h1 {
    font-size: 3.3em;
  }
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .welcome,
  .devlinks,
  .bio {
    grid-column: 1 / 2;
  }

  .skills,
  .contact {
    grid-column: 2 / 3;
    min-height: 0;
  }

  .welcome {
    grid-row: 1 / 3;
  }
  .contact {
    grid-row: 3 / 4;
  }
  .contact ul {
    flex-direction: column;
    line-height: 2.2;
  }
}
