* { 
    box-sizing: border-box;
} 

body { 
    display:grid;
    background-color: white;
    margin:0;
    padding:0x;
    font-family: 'Work Sans', sans-serif;
    font-size: 112.5%;
    text-align: center;
    line-height: 1.5;
}

a {
    color:#8F0301;
}
.intro {
    display:flex;
    flex-direction: column;
}

.intro h1 {
    font-size:2.6em;
    font-weight: normal;
    line-height: 1;
    margin:20px;
    margin-top:60px;
    color: rgba(0, 0,0, 0.85);
}

.navlinks {
    margin: 20px;
}
.navlinks a {
    font-size:1.3em;
    padding:4px;
    text-decoration:none;
}

.navlinks a:hover {
    background-color: #8F0301;
    color:white;
}

.line {
    border-bottom:2px solid rgba(0, 0,0, 0.4);
    height:0;
}

section {
    background-color: rgba(0, 0,0, 0.15);
    padding:20px;
    margin:20px;
}

.welcome p {
    font-size: 1.5em;
}

.skills ul {
    margin:0;
    padding:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skills li {
    display:block;
    padding: 4px 10px;
    margin: 4px;
    background-color:rgba(0, 0,0, 0.4);
    color: white;
    font-size:1.2em;
    line-height: 1;
}

.bio {
    text-align:left;
}

table tr {
    border-bottom: 3px solid black;
}

.foto {
    width:100%;
    clip-path: circle();
}